aws_region     = "us-east-1"
instance_type  = "t3.micro"
instance_name  = "debian-iac-server"
key_name       = "devops-iac-key"
public_key     = "ssh-ed25519 AAAAC3... your-public-key-here"
environment    = "Lab"
project        = "Roadmap-14"
